
.hero {
  position: relative;
  display: flex;
  align-items: center;
  height: 400px;
  background-color: var(--background-color);
}

.hero-yellow-bar {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 10px;
  background-color: #ffd700; /* Yellow color */
}

.hero-content-wrapper {
  padding: 20px;
  max-width: 600px;
}

.hero-content {
  font-family: var(--body-font-family);
  color: var(--text-color);
}

.hero h1 {
  font-family: var(--heading-font-family);
  font-weight: 700;
  font-size: var(--heading-font-size-xxl);
}

.hero p {
  font-size: var(--body-font-size-m);
  margin-bottom: 1em;
}

.hero a {
  display: inline-block;
  margin-right: 10px;
  padding: 10px 20px;
  border: 2px solid var(--link-color);
  color: var(--link-color);
  text-decoration: none;
  border-radius: 5px;
}

.hero a:hover {
  background-color: var(--link-hover-color);
  color: var(--background-color);
}
